html,
body,
.login-box {
  height: 100%;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }
  #index-banner .section {
    top: 5%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.twitter-blue{
  font-size: 2em;
  color:#30B2FF;
}

.github-black{
  font-size: 2em;
  color: #000000;
}

.instagram-color{
  font-size: 2em;
  color: #FF7F6D;
}

.mail-color{
  font-size: 2em;
  color: #FF7C73;
}

.linkedin-color{
  font-size: 2em;
  color: #2784E8;
}

.card-color{
  background: #B5FFCB;
  color: #5F6360;
}

.th-color{
  background: #26a69a;
  color: #FFFFFF;
}
